@media (min-width: 768px) {
	.hero {
		min-height: 819px;
	}
	.container {
		width: 60%;
	}

	h1 {
		font-size: 5em;
		margin: 0;
	}

	h2 {
		font-size: 2em;
	}

	.info {
		width: 100%;
		ul {
			padding: 0;
			margin: 0;
		}
		li {
			font-size: 2em;
			margin: 0;
			line-height: 60px;
		}
	}
}
